/****************PATH S***************/
.path {
  height: 40px;
  background: #fff;
}
#path-body {
  max-width: 1200px;
  margin: auto;
  font-size: 14px;
  line-height: 40px;
}
#path-body a {
  color: #363636;
  text-transform: uppercase;
}
#path-body a:hover {
  text-decoration: underline;
}
#path-body .icon-arrow {
  display: inline-block;
  margin: 0 17px;
  width: 12px;
  height: 12px;
  background: url(../img/arrow.png);
}
#path-body .blue {
  color: #1c6aa0;
  text-transform: uppercase;
}
/****************PATH E***************/
/****************main S***************/
.main {
  box-sizing: border-box;
  margin: 25px auto 0 auto;
  padding: 50px 60px;
  max-width: 1200px;
  background: #fff;
  border-radius: 3px;
}
.main #main-body dt {
  margin-bottom: 45px;
  text-align: center;
}
.main #main-body dt img {
  width: 611px;
  height: 56px;
}
.main #main-body dd {
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 16px;
  color: #363636;
}
/****************main E***************/
/****************@media 992-1200 S***************/
@media (max-width: 1200px) {
  html {
    font-size: 62px;
  }
  .main,
  #path-body {
    width: 15rem;
  }
  .main {
    margin: 0.333333rem auto 0 auto;
    padding: 0.666667rem 0.8rem;
  }
  .main #main-body dt {
    margin-bottom: 0.6rem;
  }
  .main #main-body dd {
    margin-bottom: 0.266667rem;
    line-height: 0.4rem;
  }
}
/****************@media 992-1200 E***************/
/****************@media 768-992 S***************/
@media (max-width: 992px) {
  html {
    font-size: 48px;
  }
  .main #main-body dt img {
    width: 9.854839rem;
    height: 0.903226rem;
  }
  .main #main-body dd {
    font-size: 14px;
    line-height: 0.45rem;
  }
}
/****************@media 768-992 E***************/
/****************@media 0-768 S***************/
@media (max-width: 768px) {
  html {
    font-size: 30px;
  }
  .main #main-body dd {
    font-size: 0.291667rem;
    line-height: 0.6rem;
  }
}
/****************@media 0-768 E***************/
