body {
  font-family: "Microsoft Yahei";
  margin: 0;
}
a {
  text-decoration: none;
}
ul,
ol,
dl,
li,
dd,
dt,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  padding: 0;
}
ul,
ol {
  list-style: none;
}
/*********************CSS-REPO-S************************/
/*********************CSS-REPO-E************************/
html {
  position: relative;
  height: 100%;
  overflow: hidden;
  font-size: 75px;
}
body {
  height: 100%;
  overflow-y: scroll;
  background: #e4f0f9;
}
/****************头部 S***************/
.header {
  background: #fff;
}
.header-body {
  margin: auto;
  max-width: 1200px;
  height: 100px;
}
.header-body > div {
  height: 100%;
  line-height: 100px;
}
.header-body .logo {
  float: left;
}
.header-body .logo a {
  display: inline-block;
  width: 245px;
  height: 50px;
  vertical-align: middle;
}
.header-body .logo a img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.header-body .about-us {
  float: right;
}
.header-body .about-us a {
  font-size: 16px;
  color: #363636;
  vertical-align: middle;
}
/****************头部 E***************/
/****************导航 S***************/
.nav {
  background: #1c6aa0;
}
#nav-body {
  margin: auto;
  max-width: 1200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 0;
}
#nav-body li {
  display: inline-block;
}
#nav-body li a {
  padding: 0 3.1667%;
  font-size: 18px;
  color: #d4d4d4;
  text-transform: uppercase;
}
#nav-body li a:hover {
  color: #fff;
}
#nav-body li .active {
  color: #fff;
}
/****************导航 E***************/
/****************版权声明 S***************/
.copyright {
  margin: auto;
  max-width: 1200px;
}
.copyright-body {
  text-align: right;
  font-size: 14px;
  color: #888;
}
/****************版权声明 E***************/
/****************@media 992-1200 S***************/
@media (max-width: 1200px) {
  .header-body,
  #nav-body,
  .copyright {
    width: 15rem;
  }
}
/****************@media 992-1200 E***************/
/****************@media 0-768 S***************/
@media (max-width: 768px) {
  .header-body {
    height: 2.083333rem;
  }
  .header-body > div {
    line-height: 2.083333rem;
  }
  .header-body .logo a {
    width: 5.104167rem;
    height: 1.041667rem;
  }
  .header-body .about-us a {
    font-size: 14px;
  }
  .nav {
    background: #1c6aa0;
  }
  #nav-body {
    height: 40px;
    line-height: 40px;
  }
  #nav-body li a {
    font-size: 14px;
  }
  .copyright-body {
    font-size: 0.291667rem;
  }
}
/****************@media 0-768 E***************/
/****************PATH S***************/
.path {
  height: 40px;
  background: #fff;
}
#path-body {
  max-width: 1200px;
  margin: auto;
  font-size: 14px;
  line-height: 40px;
}
#path-body a {
  color: #363636;
  text-transform: uppercase;
}
#path-body a:hover {
  text-decoration: underline;
}
#path-body .icon-arrow {
  display: inline-block;
  margin: 0 17px;
  width: 12px;
  height: 12px;
  background: url(../img/arrow.png);
}
#path-body .blue {
  color: #1c6aa0;
  text-transform: uppercase;
}
/****************PATH E***************/
/****************main S***************/
.main {
  box-sizing: border-box;
  margin: 25px auto 0 auto;
  padding: 50px 60px;
  max-width: 1200px;
  background: #fff;
  border-radius: 3px;
}
.main #main-body dt {
  margin-bottom: 45px;
  text-align: center;
}
.main #main-body dt img {
  width: 611px;
  height: 56px;
}
.main #main-body dd {
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 16px;
  color: #363636;
}
/****************main E***************/
/****************@media 992-1200 S***************/
@media (max-width: 1200px) {
  html {
    font-size: 62px;
  }
  .main,
  #path-body {
    width: 15rem;
  }
  .main {
    margin: 0.333333rem auto 0 auto;
    padding: 0.666667rem 0.8rem;
  }
  .main #main-body dt {
    margin-bottom: 0.6rem;
  }
  .main #main-body dd {
    margin-bottom: 0.266667rem;
    line-height: 0.4rem;
  }
}
/****************@media 992-1200 E***************/
/****************@media 768-992 S***************/
@media (max-width: 992px) {
  html {
    font-size: 48px;
  }
  .main #main-body dt img {
    width: 9.854839rem;
    height: 0.903226rem;
  }
  .main #main-body dd {
    font-size: 14px;
    line-height: 0.45rem;
  }
}
/****************@media 768-992 E***************/
/****************@media 0-768 S***************/
@media (max-width: 768px) {
  html {
    font-size: 30px;
  }
  .main #main-body dd {
    font-size: 0.291667rem;
    line-height: 0.6rem;
  }
}
/****************@media 0-768 E***************/
