body {
  font-family: "Microsoft Yahei";
  margin: 0;
}
a {
  text-decoration: none;
}
ul,
ol,
dl,
li,
dd,
dt,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  padding: 0;
}
ul,
ol {
  list-style: none;
}
/*********************CSS-REPO-S************************/
/*********************CSS-REPO-E************************/
html {
  position: relative;
  height: 100%;
  overflow: hidden;
  font-size: 75px;
}
body {
  height: 100%;
  overflow-y: scroll;
  background: #e4f0f9;
}
/****************头部 S***************/
.header {
  background: #fff;
}
.header-body {
  margin: auto;
  max-width: 1200px;
  height: 100px;
}
.header-body > div {
  height: 100%;
  line-height: 100px;
}
.header-body .logo {
  float: left;
}
.header-body .logo a {
  display: inline-block;
  width: 245px;
  height: 50px;
  vertical-align: middle;
}
.header-body .logo a img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.header-body .about-us {
  float: right;
}
.header-body .about-us a {
  font-size: 16px;
  color: #363636;
  vertical-align: middle;
}
/****************头部 E***************/
/****************导航 S***************/
.nav {
  background: #1c6aa0;
}
#nav-body {
  margin: auto;
  max-width: 1200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 0;
}
#nav-body li {
  display: inline-block;
}
#nav-body li a {
  padding: 0 3.1667%;
  font-size: 18px;
  color: #d4d4d4;
  text-transform: uppercase;
}
#nav-body li a:hover {
  color: #fff;
}
#nav-body li .active {
  color: #fff;
}
/****************导航 E***************/
/****************版权声明 S***************/
.copyright {
  margin: auto;
  max-width: 1200px;
}
.copyright-body {
  text-align: right;
  font-size: 14px;
  color: #888;
}
/****************版权声明 E***************/
/****************@media 992-1200 S***************/
@media (max-width: 1200px) {
  .header-body,
  #nav-body,
  .copyright {
    width: 15rem;
  }
}
/****************@media 992-1200 E***************/
/****************@media 0-768 S***************/
@media (max-width: 768px) {
  .header-body {
    height: 2.083333rem;
  }
  .header-body > div {
    line-height: 2.083333rem;
  }
  .header-body .logo a {
    width: 5.104167rem;
    height: 1.041667rem;
  }
  .header-body .about-us a {
    font-size: 14px;
  }
  .nav {
    background: #1c6aa0;
  }
  #nav-body {
    height: 40px;
    line-height: 40px;
  }
  #nav-body li a {
    font-size: 14px;
  }
  .copyright-body {
    font-size: 0.291667rem;
  }
}
/****************@media 0-768 E***************/
/****************PATH S***************/
.path {
  height: 40px;
  background: #fff;
}
#path-body {
  max-width: 1200px;
  margin: auto;
  font-size: 14px;
  line-height: 40px;
}
#path-body a {
  color: #363636;
  text-transform: uppercase;
}
#path-body a:hover {
  text-decoration: underline;
}
#path-body .icon-arrow {
  display: inline-block;
  margin: 0 17px;
  width: 12px;
  height: 12px;
  background: url(../img/arrow.png);
}
#path-body .blue {
  color: #1c6aa0;
  text-transform: uppercase;
}
/****************PATH E***************/
/****************TAB S***************/
#tab {
  margin-top: 45px;
  text-align: center;
  font-size: 0;
}
#tab li {
  display: inline-block;
  font-size: 0;
  font-weight: bold;
  line-height: 14px;
  border-bottom: 2px solid #81b0d1;
  text-transform: uppercase;
}
#tab li a {
  font-size: 14px;
  color: #81b0d1;
  text-decoration: none;
  display: block;
  padding: 0 25px 12px 25px;
}
#tab li:hover {
  border-bottom-color: #1c6aa0;
}
#tab li:hover a {
  font-weight: bold;
  color: #1c6aa0;
}
#tab .selected {
  border-bottom-color: #1c6aa0;
}
#tab .selected a {
  color: #1c6aa0;
}
/****************TAB E***************/
/****************main S***************/
.main {
  box-sizing: border-box;
  margin: 25px auto 0 auto;
  padding: 10px 20px;
  max-width: 1200px;
  background: #fff;
  border-radius: 3px;
}
.main li {
  display: inline-block;
  vertical-align: top;
  margin: 25px 20px;
  width: 250px;
  background: #fff;
}
.main li a {
  display: block;
  width: 100%;
  height: 225px;
  text-align: center;
  transition: transform 0.3s ease-out;
}
.main li a:hover {
  box-shadow: 0 2px 8px 0 rgba(28, 106, 160, 0.15);
  transform: translate3d(0, -10px, 0);
}
.main li a:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.main li a img {
  width: 60%;
  vertical-align: middle;
}
.main li p {
  text-align: center;
  font-size: 14px;
  color: #363636;
}
.main .end-note {
  text-align: center;
  font-size: 14px;
  color: #586e83;
}
/****************main E***************/
/****************遮罩层 S***************/
.detail-cover-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
}
.detail-cover-bg:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.detail-cover {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 50px;
  width: 80%;
  max-width: 1004px;
  border-radius: 5px;
  background: #fff;
  font-size: 0;
}
.detail-cover .item-img {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-right: 40px;
  width: 50%;
  line-height: 475px;
  text-align: center;
}
.detail-cover .item-img img {
  vertical-align: middle;
  max-width: 100%;
}
.detail-cover #item-descrip {
  display: inline-block;
  width: 50%;
  font-size: 14px;
  color: #363636;
  text-align: left;
}
.detail-cover #item-descrip ul {
  margin-bottom: 20px;
  line-height: 20px;
  word-wrap: break-word;
}
.detail-cover #item-descrip ul li:first-child {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.detail-cover .icon-close {
  position: absolute;
  top: 13px;
  right: 13px;
  width: 18px;
  height: 18px;
  background: url(../img/X.png);
  cursor: pointer;
}
/****************遮罩层 E***************/
/****************@media 992-1200 S***************/
@media (max-width: 1200px) {
  html {
    font-size: 62px;
  }
  .main,
  #path-body {
    width: 15rem;
  }
  .main {
    margin: 25px auto 0 auto;
    padding: 0.133333rem 0.266667rem;
  }
  .main li {
    margin: 0.333333rem 0.266667rem;
    width: 3.083rem;
  }
  .main li a {
    height: 3.0rem;
  }
}
/****************@media 992-1200 E***************/
/****************@media 768-992 S***************/
@media (max-width: 992px) {
  html {
    font-size: 48px;
  }
  .main li {
    width: 4.289rem;
  }
  .main li a {
    height: 3.86rem;
  }
}
/****************@media 768-992 E***************/
/****************@media 0-768 S***************/
@media (max-width: 768px) {
  html {
    font-size: 30px;
  }
  .main li p {
    font-size: 0.291667rem;
  }
}
/****************@media 0-768 E***************/
