* {
  font-family: "Microsoft Yahei";
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}
ul,
ol,
dl,
li,
dd,
dt {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
/*********************CSS-REPO-S************************/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/*********************CSS-REPO-E************************/
