@import "reset.less";
@import "common.less";

/****************PATH S***************/
.path{
	height:40px;
	background:#fff;
}
#path-body{
	max-width:1200px;
	margin:auto;
	font-size:14px;
	line-height: 40px;
	a{
		color:#363636;
		text-transform: uppercase;
		&:hover{
			text-decoration: underline;
		}
	}
	.icon-arrow{
		display: inline-block;
		margin:0 17px;
		width:12px;
		height:12px;
		background:url(../img/arrow.png);
	}
	.blue{
		color:#1c6aa0;
		text-transform: uppercase;
	}
}
/****************PATH E***************/

/****************TAB S***************/
#tab{
	margin-top:45px;
	text-align: center;
	font-size:0;
	li{
		display: inline-block;
		font-size:0;
		font-weight: bold;
		line-height: 14px;
		border-bottom:2px solid #81b0d1;
		text-transform: uppercase;
		a{
			font-size: 14px;
			color:#81b0d1;
			text-decoration: none;
			display: block;
  			padding: 0 25px 12px 25px;
		}
		&:hover{
			border-bottom-color:#1c6aa0;
		}
		&:hover a{
			font-weight: bold;
			color:#1c6aa0;
		}
	}
	.selected{
		a{
			color:#1c6aa0;
		}
		border-bottom-color:#1c6aa0;
	}
}
/****************TAB E***************/

/****************main S***************/
.main{
	.box-sizing;
	margin:25px auto 0 auto;
	padding:10px 20px;
	max-width:1200px;
	background: #fff;
	border-radius:3px;

	li{
		display: inline-block;
		vertical-align: top;
		margin:25px 20px;
		width:250px;
		background:#fff;
		a{
			display: block;
			width:100%;
			height:225px;
			text-align: center;
			.transition(transform);
			&:hover{
				box-shadow:0 2px 8px 0 rgba(28,106,160,.15);
				.transform(translate3d(0,-10px,0))
			}
			&:before{
				content:"";
				display: inline-block;
				height:100%;
				vertical-align: middle;
			}
			img{
				width:60%;
				vertical-align: middle;
				
			}
		}
		p{
			text-align:center;
			font-size:14px;
			color:#363636;
		}
	}

	.end-note{
		text-align: center;
		font-size:14px;
		color:#586e83;
	}
	
}
/****************main E***************/

/****************遮罩层 S***************/
.detail-cover-bg{
	display: none;
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;

	background:rgba(0,0,0,.4);
	text-align: center;
	&:before{
		content:"";
		display: inline-block;
		height:100%;
		vertical-align: middle;
	}
}
.detail-cover{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	.box-sizing;
	padding:50px;
	width:80%;
	max-width:1004px;
	border-radius:5px;
	background:#fff;
	font-size:0;
	.item-img{
		display: inline-block;
		vertical-align: top;
		.box-sizing;
		padding-right:40px;
		width:50%;
		text-align: center;
		img{
			vertical-align: middle;
			max-width:100%;
		}
	}
	#item-descrip{
		display: inline-block;
		width:50%;
		font-size:14px;
		color:#363636;
		text-align: left;
		ul{
			margin-bottom:20px;
			line-height:20px;
			word-wrap:break-word;
			li:first-child{
				font-weight: bold;
				text-transform: uppercase;
				margin-bottom:8px;
			}
		}
	}
	.icon-close{
		position: absolute;
		top:13px;
		right:13px;
		width:18px;
		height:18px;
		background: url(../img/X.png);
		cursor:pointer;
	}
}
/****************遮罩层 E***************/

/****************@media 992-1200 S***************/
@media(max-width:1200px){
	html{
		font-size:62px;
	}
	.main,#path-body{
		width:15rem;
	}

	.main{
		margin:25px auto 0 auto;
		padding:0.133333rem 0.266667rem;
		li{
			margin:0.333333rem 0.266667rem;
			width:3.083rem;
			a{
				height:3.0rem;
			}
		}
	}

}
/****************@media 992-1200 E***************/

/****************@media 768-992 S***************/
@media(max-width:992px){
	html{
		font-size:48px;
	}
	.main{
		li{
			width:4.289rem;
			a{
				height:3.86rem;
			}
		}
	}
}
/****************@media 768-992 E***************/

/****************@media 768-900 S***************/
@media(max-width:900px){
	.detail-cover{
		padding:0.892857rem;
		width:90%;
		.item-img{
			padding-right:0.714286rem;
		}
	}
}
/****************@media 768-900 E***************/

/****************@media 0-768 S***************/
@media(max-width:768px){
	html{
		font-size:30px;
	}
	.main{
		li{
			p{
				font-size:0.291667rem;
			}
		}
	}

	.detail-cover{
		padding:1.25rem;
		width:95%;
		.item-img{
			padding-right:0;
			width:100%;
		}
		#item-descrip{
			width:100%;
			font-size:0.291667rem;
			ul{
				margin-bottom:0.416667rem;
				line-height:0.416667rem;
				li:first-child{
					margin-bottom:0.166667rem;
				}
			}
		}
	}
}
/****************@media 0-768 E***************/









